body {
  margin: 0;
  padding: 0;
}

.frame {
  width: 500px;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  background-color: black;
  background-image: url("./image/road.png");
  background-size: cover;
}
